h1{
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: black;
    text-align: left;
    font-weight: bolder;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

li{
    color: black;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.images{
    width: 440;
    height: 250;
    text-align: center;
}

.home{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

