h1{
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    display: block;
    height: 100px;
    width: 300px;
    border: 10px white;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    margin: 20px auto;
}

#arrozc{
    background-color: rgb(2, 2, 34);
}
#ceviche{
    background-color: rgb(1, 1, 77);
}
#hamburguer{
    background-color: rgb(7, 7, 128);
}
#lomo{
    background-color: rgb(7, 7, 179);
}
#ceviche{
    background-color: blue;
}
#milanesa{
    background-color: rgb(27, 27, 240);
}

.images{
    display: block;
    width: 100px;
    height: 60px;
    margin: 0 auto;
}
